local/src/main/xsd/se/elib/library/CreateLoan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation xml:lang="en">
     Create a book loan schema.
     Copyright 2010 Elib AB. All rights reserved.
    </xs:documentation>
	</xs:annotation>
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="code" type="xs:int"/>
							<xs:element name="message" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="data">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="downloadurl" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
