local/src/main/xsd/se/elib/library/GetProduct.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="getproduct"
           targetNamespace="https://www.elib.se/webservices/schema/getproduct.xsd"
           attributeFormDefault="unqualified" elementFormDefault="unqualified"
           xmlns="https://www.elib.se/webservices/schema/getproduct.xsd"
           xmlns:mstns="https://www.elib.se/webservices/schema/getproduct.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation xml:lang="en">
            Get a product item schema.
            Copyright 2010 Elib AB. All rights reserved.
        </xs:documentation>
    </xs:annotation>
    <xs:element name="response">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="code" type="xs:unsignedByte"/>
                            <xs:element name="message" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="data">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="product">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="created_date" type="xs:date"/>
                                        <xs:element name="updated_date" type="xs:date"/>
                                        <xs:element name="title" type="xs:string"/>
                                        <xs:element name="status">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="id" type="xs:unsignedByte"/>
                                                    <xs:element name="description" type="xs:string"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="language">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="lang" type="xs:string" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="coverimage" type="xs:string"/>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="teaser">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="link"/>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="text"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="external_ids">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="external_id">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="id_type" type="xs:string"/>
                                                                <xs:element name="id" type="xs:unsignedLong"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="contributors">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="contributor">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="type" type="xs:string"/>
                                                                <xs:element name="first_name" type="xs:string"/>
                                                                <xs:element name="family_name" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="formats">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="format">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="format_id" type="xs:unsignedInt"/>
                                                                <xs:element name="name" type="xs:string"/>
                                                                <xs:element name="description" type="xs:string"/>
                                                                <xs:element name="icon" type="xs:string"/>
                                                                <xs:element name="size_bytes" type="xs:unsignedInt"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="price">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="currency" type="xs:string"/>
                                                    <xs:element name="amount" type="xs:unsignedInt"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="publisher">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="name" type="xs:string"/>
                                                    <xs:element name="external_id" type="xs:int"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="first_published" type="xs:date"/>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element name="categories">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="category">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="type" type="xs:string" use="required"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>